defaults
    mode tcp
    timeout connect 1m
    timeout client 1m
    timeout server 1m

listen postgres_master
    bind *:5432
    server master_node social-network-db:5432 check

listen postgres_replicated
    bind *:5433
    mode tcp
    balance roundrobin
    server slave1 pgslave:5432 check inter 5s rise 2 fall 3
    server slave2 pgasyncslave:5432 check inter 5s rise 2 fall 3
